
body{
    font-family:"Roboto", sans-serif;
}
.container{
    width: 1920px;
  
}
header{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1920px;
    background: whitesmoke;

}
.upper-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom:100px;
}
.navbar a{
   margin: 5px 5px; 
   text-decoration: none;
   color:black;
   width:99px;
   height: 16px;
   size:16px;

}
.second-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin:100px 300px;
}
.second-header-section{
    margin-right: 50px;
}
.second-header-aside{
   margin-left: 50px;
}
.second-header-h1{
    padding: 20px;
}
.second-header-h1 h1{
    width:600px;
    height:100px;
    size:100px;
    line-height:3em;
    font-size: 2rem;
}
.second-header-p{
  width:540px;
  height: 67px;
}
.second-header-p p{
    size:16px;
    line-height: 26px;
    color:grey
}
.second-header-btn{
    margin-top: 50px;
    width:225px;
    height: 65px;
}
.second-header-btn button{
    width: 100%;
    border: 2px solid rgb(13, 86, 101);
    padding: 15px 20px;
    background:#34547A;
    color:white;
}
.second-header-btn button:hover{
    border: 3px solid blue;
    cursor: pointer;
}
/* about me section */
.about-me{
    width:540px;
    height:147px;
    margin-left: 400px;
    margin-right: 300px;
    margin-top: 200px;
}
.about-me-h1{
    width:403px;
    height: 30px;
    margin: 20px 0px 30px 350px;
}
.about-me-h1 h1{
    font-size:32px;
    line-height: 38px;
     align-items: center;
}
.about-me-p{
    width:540px;
    height: 67px; 
    margin-left: 200px;  
}
.about-me-p p{
    font-size: 20px;
    color:grey;
    height: 67px; 
    text-indent: 50px;
    gap:unset;
}

.projects{
    width:1920px;
    height: 250px;
    background:#34547A;
    padding: 200px 100px 0px 150px;
    margin-top: 50px;

}
.projects ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
    width:100%;
}
.projects-li{
    width:141px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.my-skills{
    width:1150px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px 100px 90px; 
    margin: 30px 100px 0px 300px; 
}
.skills-list{
    width:445px;
    height: 257px;
}
.skills-img{
    width:555px;
    height: 450px;
    margin-right: 20px;
}
.skills-img img{
    display: block;
   
}
.skills-list-h1{
    width:403px;
    height: 30px;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
}
.lines{
   width:445px;
   height: 4px;
   background-image: linear-gradient(to right, #34547A 70%, #C4C4C4 30%); 
}
.my-works{
    width:1920px;
    height:1004px;
    background: whitesmoke;
    padding-top: 30px;
}
.my-works-title{
    width:540px;
    height:147px;
    margin-left:600px;
    margin-top: 150px;
}
.my-works-title h1{
    width:403px;
    height:30px;
    font-size:32px;
    font-weight: bold;
    line-height:38px;
    text-align: center;
    margin-left: 50px;
}
.my-works-title p{
    width:540px;
    height:67px;
    font-size:16px;
    text-align: center;
    margin-top: 20px;
    color: #727272;
}
.my-work-video{
    width:1110px;
    height:500px;
    background-image: url(/img/Rectangle.png);
    margin:20px 0px 20px 400px; 
    padding: 20px 20px 20px 20px;
}
#video-btn{
   width:100px;
   height: 100px;
   align-items: center;
   margin-top: 200px;
   margin-left: 450px;
   
}

.my-imgs{
   width:1920px;
   height: 960px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.my-imgs > div >img{
   width:480px;
   height:480px;
   
}
.eye-sticker{
    position:relative;
    top:0;
     left:0
}
#computer{
    position: relative;
    top:0;
    left:0;
     opacity: 0.4;
}
#eye{
    position: absolute;
    z-index: 1;
    width:150px;
    height: 150px;
    margin-left:200px;
    margin-top:200px ;
}

.microsoft{
    width:1920px;
    height: 200px;
    margin-top: 50px;
}
.microsoft ul{
    width:1110px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 400px;
}
.microsoft ul>li>img{
    width:255px;
    height: 120px;
}
.log-in{
    width:1920px;
    height: 762px;
    background: whitesmoke;
    padding-top: 30px;
}
.log-in-title{
    width:540px;
    height: 150px;
    margin-left: 500px;

}
.log-in-title h1{
    width:500px;
    height: 30px;
    align-self: center;
    font-size: 30px;
    line-height: 38px;
     margin-top: 20px;
     margin-left: 100px;
}
.log-in-title p{
    width:540px;
    font-size: 16px;
    line-height: 27px;
    align-items: center;
    color:#727272;
    margin-top: 50px;
    margin-left: 70px;
}
.log-in form{
    width:540px;
    height: 250px;
    margin-top: 100px;
    margin-left: 600px;
}
#login-name,#login-email{
    width: 255px;
    height: 50px;
    font-size: 14px;
    color:#5F5D5D;
    background: white;
    border: none;
}
#login-email{
    margin-left: 10px;
}
#login-message{
   width:525px;
   height: 175px;
   border: none;
   margin-top: 30px;
   padding-bottom: 30px;
}
#login-btn{
 width:190px;
 height: 55px;
 margin-top: 30px;
 border: none;
 background: #34547A;
 color: white;
 font-size: 14px;
 line-height: 23px;
 margin-left: 150px;
}

.footer{
    width:1920px;
    height: 151px;
    background: #34547A;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    color: white;
}
